/* ----------------------------------------------Header------------------------------------- */

#header{
	padding:25px 0 30px 0;
	}
#header h1, #header p, #header ul{
	margin:0; 
	padding:0; 
	list-style:none; 
	line-height:normal;
	}
#header h1{
	font-size:36px; 
	font-variant:small-caps;
	}
#header p{
	margin-top:4px;
	}