
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-0">
				<div class="container">
					<div class="navbar-brand font-alt">
						<img class="mr-2 mb-3" src=""> IDRICE LOGO
					</div>
					<p-menubar>
						<div class="p-grid p-fluid">
							<div class="p-col-12 p-md-4">
        						<div class="p-inputgroup">
            						<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            						<input type="text" pInputText placeholder="Username">         
        						</div>
        					</div>
        					<div class="p-col-12 p-md-4">
        						<div class="p-inputgroup">
            						<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            						<input type="text" pInputText placeholder="Username">         
        						</div>
        					</div>
        					<div class="p-col-12 p--md-4">
        						<div class="">
									<button pButton label="login" icon="pi pi-power-on"></button>
								</div>
							</div>
					</div>
					</p-menubar>






				</div>
			</nav>
	
