<!-- from mns237 -->
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-0">
		<div class="container">
			<a class="navbar-brand fontalt">
				<img class="mr-2 mb-3" src="" height="40">LOGO
			</a>
			<button class="navbar-toggler btn-round" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle">
				<span class="icon-menu"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end text-uppercase" id ="navbar-toggle">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="" class="nav-link"><i class="icon-home"></i>Home</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link"><i class="icon-home"></i>Product</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link"><i class="icon-home"></i>Contact</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link"><i class="icon-home"></i>About-Us</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link"><i class="icon-home"></i>Info</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-link"><i class="icon-home"></i>Media</a>
					</li>
						<li class="nav-item">
							<a href="" class="nav-link">IBC</a>
						</li>
					
					
				</ul>
			</div>
		</div>
	</nav>
</header>