<section>
	<div class="row">
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<img src="assets/img/bg4.jpg" class="w-100 shadow-1-strong round mb-4" alt="Gray" />
			<img src="assets/img/bg4.jpg" class="w-100 shadow-1-strong round mb-4" alt="Gray" />
		</div>

		<div class="col-lg-4 mb-4 mb-lg-0">
			<img src="assets/img/bg4.jpg" class="w-100 shadow-1-strong round mb-4" alt="Gray" />
			<img src="assets/img/bg4.jpg" class="w-100 shadow-1-strong round mb-4" alt="Gray" />
		</div>

		<div class="col-lg-4 mb-4 mb-lg-0">
			<img src="assets/img/bg4.jpg" class="w-100 shadow-1-strong round mb-4" alt="Gray" />
			<img src="assets/img/bg4.jpg" class="w-100 shadow-1-strong round mb-4" alt="Gray" />
		</div>

		
	</div>
</section>
<!--
<section>
	Section image 
	<section class="">
		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<div class="bg-image hover-overlay ripple shadow-1-strong round" data-ripple-color="light">
					<img src="assets/img/bg4.jpg" class="w-100"/>
					<a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
						<div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<div class="bg-image hover-overlay ripple shadow-1-strong round" data-ripple-color="light">
					<img src="assets/img/bg4.jpg" class="w-100"/>
					<a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
						<div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<div class="bg-image hover-overlay ripple shadow-1-strong round" data-ripple-color="light">
					<img src="assets/img/bg4.jpg" class="w-100"/>
					<a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
						<div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- section image closs-->

	<!-- section modal open 
	<section class="">
		<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="ratio ratio-16x9">
						<iframe src="#" title="YouTube video" allowfullscreen></iframe>
					</div>
					<div class="text-center py-3">
						<button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>-->

