<!-- Start -->
<section id="start" class="start-bg mb-5">
	<a name="top"></a>
	<div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-primary mb-4">Welcome to IBC</h1>
        <p i18n class="lead text-white">Best Services</p>


      </div>
    </div>
  </div>
	
</section>
<hr/>

<!-- our news -->
<section id="news" class="d-relative news-bg">
	<div class="bg-overlay"></div>
	<div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary mb-4">Infos</h1>
        <p class="text-white">Suivez nos actualités pour être informé en tout temps.</p>
      </div>
      <!-- col -->
    </div>
  
	News letter here....
</div>
</section>
<hr/>
 <!-- Our product -->

 <section >
  <!-- Carousel wrapper -->
  <div id="carouselBasicExample" class="carousel slide carouse-fade" data-mdb-ride="carousel">
    <!-- indicators -->
    <div class="carousel-indicators">
      <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"> </button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/bg4.jpg" class="d-bloock-w-100" alt=".....">

        <div class="carousel-caption d-none d-md-block" >
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero.</p>
        </div>

      </div>
    </div>
  </div>
 		<app-products></app-products>
 </section>
<hr/>
<!-- About Us -->

<section>
	<app-components></app-components>
</section>

<hr/>
<!-- contact -->
<section id="contact" class="mb-5 text-center">
	
  <app-contact-form></app-contact-form>
</section>
 <hr/>
<!-- Galleries -->
<section class="bg-dark">
    <app-photos></app-photos>
</section>


