<div class="wrapper row5">
	<div id="footer" class="clear">
		<!--############################-->
		<div class="foot_contact">
		<a href="https://www.idrice-brothers.io " class="text-white">	<h2>Idrice&amp;Brothers
            Consulting</h2></a>
            <address>
            	Address Line 1<br/>
            	Address Line 2<br />
            	Address Line 3<br />
            	Bafoussam
            </address>
            <ul>
            	<li><strong>Tel:</strong>+*** *********</li>
            	<li><strong>Fax:</strong>*** ********</li>
            	<li class="list"><strong>Email:</strong><a href="#">idrice.tsafouet@yahoo.com</a></li>
            </ul>
		</div>
		<div class="footbox">
			<h2>Administration</h2>
			<ul>
				<li><a href="#">Disclaimer</a></li>
				<li><a href="#">Freedom of Information</a></li>
				<li><a href="#">Annual Report</a></li>
				<li><a href="#">Job Vacancies</a></li>
			</ul>
		</div>
		<div class="footbox">
			<h2>Link Block 2</h2>
			<ul>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			</ul>
		</div>
		<div class="footbox">
			<h2>Link Block 3</h2>
			<ul>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			<li><a href="#">Disclaimer</a></li>
			</ul>
		</div>
	</div>
</div>